run_deploy_podified_miq
run_deploy_podified_cmg
.run_deploy_podified_miq.swp
.run_deploy_podified_cmg.swp

run_destroy_podified_miq
run_destroy_podified_cmg
.run_destroy_podified_miq.swp
.run_destroy_podified_cmg.swp

run_gen_ipa_configmap
.run_gen_ipa_configmap.swp

